:root{
    --base:'Karla', sans-serif;
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

body{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--Grayish-Blue);
    font-family: var(--base);
    padding: 20px;
}

.header{
    background-color: var(--Light-Gray);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 20px;
}

.header-text h1{
    color: var(--Cyan);
}

.header-text h6{
    line-height: 1.3rem;
    font-size: 16px;
}

.header-text span{
    color: var(--Bright-Yellow);
}

.header-text h6:not(span){
    color: var(--Grayish-Blue);
    line-height: 2rem;
}

.top-mid{
    background-color: var(--Cyan);
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

.inner-top-mid{
    color: var(--Light-Gray);
}

.inner-top-mid p sup{
    color: hsla(203, 44%, 93%, 0.603);
}

button{
    color: var(--Light-Gray);
    background-color: var(--Bright-Yellow);
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 55px;
    /*margin: 0 auto;*/
    font-size: 20px;
    font-weight: 700;
}

.bottom-mid{
    background-color: hsl(179, 94%, 41%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}

.bottom-mid h3{
    color: var(--Light-Gray);
}

.bottom-mid p{
    color: hsla(203, 44%, 93%, 0.703);
}

.attribution{ 
    font-size: 11px;
    margin-top: 40px; 
    text-align: center;
    color: hsl(0, 0%, 6%); 
}

.attribution a{ 
    color: hsl(0, 0%, 6%); 
    text-decoration: none;
}

@media only screen and (max-width:320px){
    button{
        width: 220px;
    }
}